@import "framework.less";

.panel .gadget-title {
    color: @header-color;
    font-weight: bold;
    text-transform: uppercase;

    padding: 0.4em;

    background: @background-color-dark;
}

.panel .gadget-content {
    background: @background-color-lighter;
}

#bataTweetlist .gadget-title {
    display: none;
}