@import "framework.less";

.panel {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);

    border-radius: 4px;

    .gadget-title {
        text-transform: uppercase;
        letter-spacing: 0.5pt;

        padding: 1em;
    }

    .gadget-content {
        background: @background-color-lighter;
    }
}

#bataTweetlist .gadget-title {
    display: none;
}

#stand_tweetlist {
    height: 256px;
    overflow: hidden;
}

#myImage {
    overflow: hidden;
    -webkit-transition: position 1s;

    .gadget-contents {
        min-height: 250px;

        ol {
            vertical-align: middle;
            width: 10000px
        }

        li {
            float: left;
            -webkit-transition: all 0.2s ease-out;
        }

        img {
            -webkit-transition: all 2s ease;
            height: 100px;
        }

        img:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            height: 200px;
        }
    }
}

#bata_tweetlist {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}